---
monitoring_vector_version: "0.50.0"

monitoring_script_venv: /opt/pokerops
monitoring_script_repo_url: "https://github.com/pokerops/ansible-collection-monitoring.git"
monitoring_script_repo_version: 0.1.7
monitoring_script_path: /usr/local/bin/monitor

monitoring_agent_location: ""
monitoring_agent_environment: ""
monitoring_agent_function: ""

monitoring_vector_conf_path: /etc/vector
monitoring_vector_metricbeat_port: 9204
monitoring_vector_filebeat_port: 9201
monitoring_vector_heartbeat_port: 9202
monitoring_vector_packetbeat_port: 9203
monitoring_vector_output_file_enable: false
monitoring_vector_output_file_size: 52428800
monitoring_vector_output_file_count: 7
monitoring_vector_ntp_peer: time.cloudflare.com
monitoring_vector_ntp_interval: "60"

monitoring_legacy_enable: false
monitoring_beat_configs:
  - name: filebeat
    port: "{{ monitoring_vector_filebeat_port }}"
    index: "{{ monitoring_elasticsearch_index_filebeat }}"
  - name: metricbeat
    port: "{{ monitoring_vector_metricbeat_port }}"
    index: "{{ monitoring_elasticsearch_index_metricbeat }}"
  - name: heartbeat
    port: "{{ monitoring_vector_heartbeat_port }}"
    index: "{{ monitoring_elasticsearch_index_heartbeat }}"

monitoring_elasticsearch_hosts: []
monitoring_elasticsearch_username: ""
monitoring_elasticsearch_password: ""
monitoring_elasticsearch_index_filebeat: filebeat
monitoring_elasticsearch_index_metricbeat: metricbeat
monitoring_elasticsearch_index_heartbeat: heartbeat
monitoring_elasticsearch_index_ntp: ntp

monitoring_beats_package_state: present
monitoring_beats_conf_setup:
  dashboards.enabled: false
  template.enabled: false
  ilm.enabled: false

monitoring_filebeat_modules: {}
monitoring_filebeat_inputs: []
monitoring_filebeat_inputs_system:
  - type: filestream
    id: system
    paths:
      - /var/log/syslog
      - /var/log/auth.log
      - /var/log/kern.log
  - type: filestream
    id: packages
    paths:
      - /var/log/apt/history.log
    parsers:
      multiline:
        pattern: "^Start-Date: "
        flush_pattern: "^$"
        negate: true
        match: after
monitoring_filebeat_conf_inputs: "{{ monitoring_filebeat_inputs + monitoring_filebeat_inputs_system }}"
monitoring_filebeat_conf_output:
  logstash.hosts: ["localhost:{{ monitoring_vector_filebeat_port }}"]

monitoring_metricbeat_modules:
  system:
    - module: system
      enabled: true
      metricsets:
        - cpu
        - load
        - memory
        - network
        - diskio
        - filesystem
      cpu:
        metrics:
          - percentages
          - normalized_percentages
      period: 10s

monitoring_metricbeat_conf_output:
  logstash.hosts: ["localhost:{{ monitoring_vector_metricbeat_port }}"]

monitoring_heartbeat_conf_monitors: []
monitoring_heartbeat_conf_output:
  logstash.hosts: ["localhost:{{ monitoring_vector_heartbeat_port }}"]
