---
sources:
  {{ beat_name }}_tcp:  
    type: "logstash"
    address: "0.0.0.0:{{ beat_port }}"
    mode: "tcp"

transforms:
{% filter indent(width=2, first=True) %}
{% block transforms %}
{{ beat_name }}_data:
  type: "remap"
  inputs: ["{{ beat_name }}_tcp"]
  source: |
    # Convert server_time to ISO8601 format
    .@timestamp = parse_timestamp!(.timestamp, format: "%+")
    .agent.hostname = .agent.name
{% endblock transforms %}
{% endfilter %}

sinks:
  {% if beat_elasticsearch_hosts | length > 0 -%}
  {{ beat_name }}_elasticsearch:
    type: "elasticsearch"
    api_version: "auto"
    inputs: ["{{ beat_name }}_data"]
    endpoints: [{% for host in beat_elasticsearch_hosts %}"{{ host }}"{% if not loop.last %}, {% endif %}{% endfor %}]
    mode: "bulk"
    auth:
      strategy: "basic"
      user: "{{ beat_elasticsearch_username }}"
      password: "{{ beat_elasticsearch_password }}"
    bulk:
      index: "{{ beat_elasticsearch_index }}"
  {% endif -%}
  {% if vector_output_file_enable -%}
  {{ beat_name }}_file:
    type: "file"
    inputs: ["{{ beat_name }}_data"]
    path: "/var/log/vector/{{ beat_name }}.log"
    encoding:
      codec: "json"
  {%- endif %}
