{% extends "beat.yaml.j2" %}
{% block transforms %}
mongodb_data:
  type: "remap"
  inputs: ["{{ beat_name }}_tcp"]
  source: |
    .mongodb.filename = downcase(string!(.log.file.path))
    if .mongodb.filename == "/var/log/mongodb/mongod.log" {
      .mongodb.message = parse_json!(string!(.message))
      .timestamp = parse_timestamp!(.mongodb.message.t."$$date", format: "%+")
      .severity = .mongodb.message.s
      .component = .mongodb.message.c
      .log_id = .mongodb.message.id
      .context = .mongodb.message.ctx
      .message = .mongodb.message.msg
      if exists(.mongodb.message.attr) {
        .attributes = .mongodb.message.attr
      }
      if exists(.mongodb.message.svc) {
        .service = .mongodb.message.svc
      }
      if exists(.mongodb.message.tags) {
        .tags = .mongodb.message.tags
      }
      if exists(.mongodb.message.truncated) {
        .truncated = .mongodb.message.truncated
      }
      if exists(.mongodb.message.size) {
        .size = .mongodb.message.size
      }
    }
    del(.mongodb)
{% endblock transforms %}
{% block sinkbeats %}
mongodb_elasticsearch:
  type: "elasticsearch"
  api_version: "auto"
  inputs: ["mongodb_data"]
  endpoints: [{% for host in beat_elasticsearch_hosts %}"{{ host }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  mode: "bulk"
  auth:
    strategy: "basic"
    user: "{{ beat_elasticsearch_username }}"
    password: "{{ beat_elasticsearch_password }}"
  bulk:
    index: "{{ beat_elasticsearch_index }}"
{% endblock sinkbeats %}
{% block sinkfile %}
mongodb_file:
  type: "file"
  inputs: ["mongodb_data"]
  path: "/var/log/vector/{{ beat_name }}.log"
  encoding:
    codec: "json"
{% endblock sinkfile %}
