---
sources:
{% for fs in vector_filesystem_checks %}
  filesystem_check_{{ loop.index0 }}:
    type: "exec"
    mode: "scheduled"
    scheduled:
      exec_interval_secs: {{ fs.interval | default(3600) }}
    decoding:
      codec: "json"
    command: [
      "{{ vector_monitor_script_path }}",
      "filesystem",
      "files",
      "--location {{ vector_filesystem_location }}",
      "--environment {{ vector_filesystem_environment}}",
      "--function {{ vector_filesystem_function }}",
      "--ctime {{ fs.ctime | default(-1) }}",
      {% if 'mtime' in fs %}
        "--mtime {{ fs.mtime }}",
      {% endif %}
      {% if 'recursive' in fs and fs.recursive %}
        "--recursive",
      {% endif %}
      "{{ fs.path }}"
    ]
{% endfor %}

transforms:
  filesystem_data:
    type: "remap"
    inputs: ["filesystem_check_*"]
    source: |
      # Convert server_time to ISO8601 format
      .@timestamp = parse_timestamp!(.timestamp, format: "%+")

sinks:
{% if beat_elasticsearch_hosts | length > 0 %}
  filesystem_elasticsearch:
    type: "elasticsearch"
    api_version: "auto"
    inputs: ["filesystem_data"]
    endpoints: [{% for host in beat_elasticsearch_hosts %}"{{ host }}"{% if not loop.last %}, {% endif %}{% endfor %}]
    mode: "bulk"
    auth:
      strategy: "basic"
      user: "{{ beat_elasticsearch_username }}"
      password: "{{ beat_elasticsearch_password }}"
    bulk:
      index: "{{ vector_filesystem_index }}"
    encoding:
      timestamp_format: "rfc3339"
{%- endif %}

{% if vector_output_file_enable %}
  filesystem_file:
    type: "file"
    inputs: ["filesystem_data"]
    path: "/var/log/vector/filesystem.log"
    encoding:
      codec: "json"
      timestamp_format: "rfc3339"
{%- endif %}
