{% extends "beat.yaml.j2" %}
{% block transforms %}
mongodb_data:
  type: "remap"
  inputs: ["{{ beat_name }}_data"]
  source: |
    .vectortemp.filename = downcase(string!(.log.file.path))
    if match(.vectortemp.filename, r'.*mongodb?.log') {
      .vectortemp.message = parse_json!(string!(.message))
      .mongodb.timestamp = parse_timestamp!(.vectortemp.message.t."$$date", format: "%+")
      .mongodb.severity = .vectortemp.message.s
      .mongodb.component = .vectortemp.message.c
      .mongodb.log_id = .vectortemp.message.id
      .mongodb.context = .vectortemp.message.ctx
      .mongodb.message = .vectortemp.message.msg
      if exists(.vectortemp.message.attr) {
        .mongodb.attributes = .vectortemp.message.attr
      }
      if exists(.vectortemp.message.svc) {
        .mongodb.service = .vectortemp.message.svc
      }
      if exists(.vectortemp.message.tags) {
        .mongodb.tags = .vectortemp.message.tags
      }
      if exists(.vectortemp.message.truncated) {
        .mongodb.truncated = .vectortemp.message.truncated
      }
      if exists(.vectortemp.message.size) {
        .mongodb.size = .vectortemp.message.size
      }
      del(.message)
    }
    del(.vectortemp)
mysqlrouter_data:
  type: "remap"
  inputs: ["mongodb_data"]
  source: |
    .vectortemp.filename = downcase(string!(.log.file.path))
    if match(.vectortemp.filename, r'.*mysqlrouter.log') {
      .vectortemp.grok = parse_grok!(
        string!(.message),
        "%{DATESTAMP:timestamp} %{DATA:type} %{LOGLEVEL:level} \\[%{DATA:thread_id}\\] %{GREEDYDATA:message}"
      )
      .mysqlrouter.timestamp = parse_timestamp!(.vectortemp.grok.timestamp, format: "%y-%m-%d %H:%M:%S")
      .mysqlrouter.type = .vectortemp.grok.type
      .mysqlrouter.level = .vectortemp.grok.level
      .mysqlrouter.thread_id = .vectortemp.grok.thread_id
      .mysqlrouter.message = .vectortemp.grok.message
      del(.message)
    }
    del(.vectortemp)
{% endblock transforms %}

{% block sink_elastic %}"mysqlrouter_data"{% endblock %}
{% block sink_file %}"mysqlrouter_data"{% endblock %}
