---
sources:
  rabbitmq:  
    type: "amqp"
    connection_string: {{ vector_rabbitmq_settings['connection_string'] }}
    consumer: {{ vector_rabbitmq_settings['consumer'] | default('vector') }}
    exchange_key: {{ vector_rabbitmq_settings['exchange_key'] | default('exchange_key') }}
    offset_key: {{ vector_rabbitmq_settings['offset_key'] | default('offset') }}
    queue: {{ vector_rabbitmq_settings['queue'] | default('queue') }}
    routing_key_field: {{ vector_rabbitmq_settings['routing_key_field'] | default('routing') }}
    decoding: {{ vector_rabbitmq_settings['decoding'] | default(omit) }}
    framing: {{ vector_rabbitmq_settings['framing'] | default(omit) }}
    prefetch_count: {{ vector_rabbitmq_settings['prefetch_count'] | default(omit) }}
    tls: {{ vector_rabbitmq_settings['tls'] | default(omit) }}

transforms:
  rabbitmq_data:
    type: "remap"
    inputs: ["rabbitmq"]
    source: |
      .@timestamp = parse_timestamp!(.timestamp, format: "%+")
      .agent.hostname = .agent.name
      .fields.location = {{ vector_rabbitmq_location }}
      .fields.environment = {{ vector_rabbitmq_environment}}
      .fields.function = {{ vector_rabbitmq_function }}

sinks:
  {% if beat_elasticsearch_hosts | length > 0 -%}
  rabbitmq_elasticsearch:
    type: "elasticsearch"
    api_version: "auto"
    inputs: ["rabbitmq_data"]
    endpoints: [{% for host in beat_elasticsearch_hosts %}"{{ host }}"{% if not loop.last %}, {% endif %}{% endfor %}]
    mode: "bulk"
    auth:
      strategy: "basic"
      user: "{{ beat_elasticsearch_username }}"
      password: "{{ beat_elasticsearch_password }}"
    bulk:
      index: "{{ vector_rabbitmq_index }}"
  {% endif -%}
  {% if vector_output_file_enable -%}
  rabbitmq_file:
    type: "file"
    inputs: ["rabbitmq_data"]
    path: "/var/log/vector/rabbitmq.log"
    encoding:
      codec: "json"
  {%- endif %}
