---
- name: Check client configuration
  hosts: "{{ monitoring_clients | default('monitoring_clients') }}:!{{ monitoring_exclude | default('monitoring_exclude') }}"
  become: true
  roles:
    - pokerops.monitoring.monitoring
  tasks:
    - name: Verify distribution support
      ansible.builtin.assert:
        that: ansible_facts['os_family'] in supported_distributions
        fail_msg: "Unsupported distribution family {{ ansible_facts['os_family'] }}. Supported distributions are: {{ supported_distributions }}"
      vars:
        supported_distributions: ["Debian"]

    - name: Gather service facts
      ansible.builtin.service_facts:

    - name: Verify vector service status
      ansible.builtin.assert:
        that:
          - _service in services
          - services[_service].state | lower == 'running'
      vars:
        _service: vector.service
