---
- name: Install pokerops python tools
  hosts: "{{ monitoring_clients | default('monitoring_clients') }}:!{{ monitoring_exclude | default('monitoring_exclude') }}"
  become: true
  roles:
    - pokerops.monitoring.monitoring
  tasks:
    - name: Install virtualenv packages
      ansible.builtin.package:
        name:
          - virtualenv
          - git

    - name: Initialize virtualenv
      ansible.builtin.pip:
        name:
          - "git+{{ monitoring_script_repo_url }}@{{ monitoring_script_repo_version }}"
        virtualenv: "{{ monitoring_script_venv }}"

    - name: Create monitoring script
      ansible.builtin.copy:
        dest: "{{ monitoring_script_path }}"
        content: |
          #!/usr/bin/env bash
          {{ monitoring_script_venv }}/bin/monitor $@
        mode: "u=rwx,og=rx"
