---
- name: Install and configure beat packages
  hosts: "{{ monitoring_clients | default('monitoring_clients') }}:!{{ monitoring_exclude | default('monitoring_exclude') }}"
  become: true
  roles:
    - pokerops.monitoring.monitoring
  tasks:
    - name: Install virtualenv package
      ansible.builtin.apt:
        name: virtualenv
        state: present
      when: ansible_facts.os_family == "Debian"
      changed_when: false

    - name: Initialize virtualenv
      ansible.builtin.pip:
        name:
          - "git+{{ monitoring_script_repo_url }}@{{ monitoring_script_repo_version }}"
        virtualenv: "{{ monitoring_script_venv }}"

    - name: Create monitoring script entrypoint
      ansible.builtin.copy:
        dest: "{{ monitoring_script_path }}"
        content: |
          {{ monitoring_script_venv }}/bin
        mode: "u=rwx,og=rx"
