---
name: lint
permissions:
  contents: read
on:
  pull_request:
    branches: ["main", "master"]
jobs:
  ansible:
    uses: pokerops/ansible-utils/.github/workflows/lint.yml@master
  defaults:
    runs-on: ubuntu-latest
    steps:
      - name: Run python {{ matrix.target }}
        uses: pokerops/ansible-utils@master
        with:
          run: just make install defaults
  python:
    runs-on: ubuntu-latest
    steps:
      - name: Run python {{ matrix.target }}
        uses: pokerops/ansible-utils@master
        with:
          run: just make install lint
